# See https://github.com/haskell-actions/setup/blob/main/docs/examples.md
on: [push]
name: build
jobs:
  cubix_test:
    name: Cubix test suites
    runs-on: ubuntu-24.04 # or macOS-latest, or windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.8.4' # Exact version of ghc to use
          cabal-version: 'latest'
      - name: Build and test
        run: "cabal test cubix:test:unit-tests cubix:test:cfg-test --project-file=cabal.project.ci --ghc-options='-O0 -j +RTS -A256m -n2m -RTS'"
